<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Vue To-Do List</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">
    
      <input type="text" v-model="newTodo" required
      @keydown.enter="addTodo">
      <button @click="addTodo">Add</button>
   
    <ul>
      <li v-for="(singletodo, index) in todos"
        
      >
        <p
        :class="{'sbarrato': singletodo.done}"
        @click="changeDone(index)">{{ singletodo.text }}</p>
        <span @click="remove(index)">X</span>
      </li>
    </ul>
  </div>

  <script src="./js/script.js"></script>
</body>
</html>